<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
        <!-- my style -->
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <h1 class="about">This is about page</h1>
        <center><a href="/"><button class="btn">HOME</button></a></center>
    </body>
</html>
