<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Homepage</title>
        <!-- my style -->
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
    <body>
        <h1 class="home">This is homepage</h1>

        <center>
            <a href="/about"><button class="btn">About</button></a>
            <a href="/tabelData/all"><button class="btn">Tabel Data</button></a>
        </center>
    </body>
</html>
