<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabel Data</title>
    <!-- my style -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
    <center>
        <h1>Tabel Data Pengguna</h1>
        <a href="/"><button class="btn">Homepage</button></a>
        <a href="/about"><button class="btn">About</button></a>
        <br> 
        <a href="/tabelData/all"><button class="btn">SemuaData</button></a>
        <a href="/tabelData/pemudapisang"><button class="btn">Data Pemuda Pisang</button></a>
        <a href="/tabelData/karyawanfsw"><button class="btn">Data Karyawan FSW</button></a>
        <a href="/tabelData/matabiru"><button class="btn">Data Bermata Biru</button></a>
        <a href="/tabelData/intelhijau"><button class="btn">Data Intel Hijau</button></a>
        <a href="/tabelData/veteran"><button class="btn">Data Veteran</button></a>
       
    </center>
    <table class="tabelData">
        <tr>
          <th>No</th>
          <th>Nama</th>
          <th>Umur</th>
          <th>Jenis Kelamin</th>
          <th>Warna Mata</th>
          <th>Perusahaan</th>
          <th>Buah Favorit</th>
          <th>Tanggal Registrasi</th>
          <th>Status</th>
        </tr>
        <% if (!filter.length){%>
            <!-- jika data kosong -->
            <tr><td colspan="9">Data Tidak Ada/Tidak ditemukan</td></tr>
        <% }else { %> 
         <% let no = 1 %>   
        <% filter.forEach(result => { %> 
            <tr>
                <td><%= no++ %></td>
                <td><%= result.name %></td>
                <td><%= result.age %></td>
                <td><%= result.gender %></td>
                <td><%= result.eyeColor %></td>
                <td><%= result.company %></td>
                <td><%= result.favoriteFruit %></td>
                <td><%= result.registered %></td>
                <%if (result.isActive){%>
                    <td>Aktif</td>
               <% }else {%>
                    <td>Tidak Aktif</td>
               <% } %> 
            </tr>
        <% }) 
        } %>
    </table>

</body>
</html>